body{
  background: black;
  color: #888;
  font-family: "Segoe UI", Arial;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body[authorized]{

}

ws-logout{
  display: none;
}
#inner-body{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#inner-body *{
  box-sizing: border-box;
}
.wrapper{
  /* position: relative; */
  display: block;
  height: 100%;
  overflow: visible;
  background: linear-gradient(#fff, #ccc);
  min-width: 100vw;
  padding: 0px 20px;
}

h1{
   grid-column: 1 / span 2;
   text-shadow: 1px 1px 0px #090909;
   margin: 0;
   font-size: 20px;
   padding: 10px;
   display: flex;
   flex-flow: row;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
   flex-wrap: nowrap;
   justify-content: space-between;
}
h1 #title{
  color: #F44336;
}
h1 em{
  color: #eee;
  font-family: cursive;
  font-size: 1.1em;
  line-height: 1px;
  padding-right: 3px;
}
h1 #fps{
  display: none;
}
  [logout]{ display: none; }
  body[authorized] [logout]{
    display: block;
    font-size: 14px;
    font-weight: normal;
    flex-shrink: 2;
    cursor: pointer;
    align-self: center;
  }
#overlay{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: none;
  z-index: 1;
  /* display: none; */
}
#overlay:empty{display: none;}
#overlay:not(:empty) ~ *{
  filter: blur(2px) opacity(1);
}
#content{
  padding: 0px;
  /* min-height: 100%; */
  display: flex;
  border-top: 1px solid #000;
  flex-direction: row;
  margin-left: 0;
  transition: margin-left 1s 0s cubic-bezier(0.12, 1.63, 0.18, 0.81);
  overflow: auto;
  height: calc(100% - 42px);
}
#content.p1{margin-left: -100vw;}
#content.p2{margin-left: -200vw;}
#content.p3{margin-left: -300vw;}
#content *{
  box-sizing: border-box;
}

ws-slot span{
  padding-right:5px;
}