.wrapper.room{
  display: grid;
  padding: 0;
  background: #CCC;
  grid-template-columns: 1fr 150px;
  grid-template-rows: auto 1fr auto;
}
#word{
  /* border: 5px solid red; */
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}
ws-letter{
  display: inline-block;
  margin: 10px;
  font-size: 25px;
}
#pencil{
  width: 35vw;
  height: 30vw;
  min-width: 15px;
  min-height: 10px;
  max-width: 135px;
  max-height: 130px;
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translate(-5px, 5px);
  /*   border: 1px solid red; */
}

#players{
  user-select: none;
  /* height: 88%; */
  width: 150px;
  border-right: 1px solid #AFB42B;
  /* background: #CDDC39; */
  font-size: 0.8em;
  display: grid;
  grid-gap: 0;
  align-content: center;
  grid-template-columns: 1fr 150px;
  grid-auto-flow: row;
  justify-content: end;
  grid-row: 1;
  max-height: 100%;
  overflow: hidden;
  /* padding-left: 220px; */
  grid-column: 2;
  grid-row: 1 / span 2;
}
#players player{
  display: grid;
  cursor: hand;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
  color: #333;
  vertical-align: middle;
  align-items: center;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  height: 45px;
  transition: all 0.2s ease-out;
  grid-column: 2;
  min-width: 150px;
}
#players message:first-of-type{
  margin-top: 20px;
}

#players message{
  /* margin: 5px; */
  position: relative;
  /* right: -20px; */
  grid-column: 1;
  width: max-content;
  max-width: calc(100vw / 2);
  justify-self: end;
  border: 1px solid #CCC;
  border-radius: 20px;
  padding: 9px;
  text-overflow: ellipsis;
  margin-bottom: -50px;
  background: linear-gradient(#FFF, #EEE);
  animation: messageLifetime 4s cubic-bezier(0, 0, 0.39, 1.49) 1s 1 both;
  transform-origin: top right;
  height: max-content;
  margin-top: 5px;
  margin-right: -20px;
  display: none;
}
@keyframes messageLifetime{
  0%{
    transform: scale(0);
  }
  5%{
    transform: scale(1);
  }
  95%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}
#players player:first-of-type{
  padding-top: 18px;
}
#players player:first-of-type:after{
    height: calc(100% - 20px);
    top: 19px;
}
#players player:last-of-type{
  padding-bottom: 18px;
}
#players player:last-of-type:after{
    height: calc(100% - 20px);
    bottom: 18px;
}
#players player:after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  background: linear-gradient(to right, rgb(202, 202, 202) 70%, rgb(189, 189, 189) 80%, rgb(132, 132, 132));
  z-index: 0;
  left: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  border: 1px solid #FFF;
  border-bottom: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: all 0.2s ease-out;
  height: calc(100% - 2px);
}
#players player:hover{
  padding-left: 10px;
  overflow: visible;
  z-index: 1;
}
#players player:hover:after{
  left: 10px;
  background: linear-gradient(to right, #8BC34A 60%, #689F38 90%, rgb(132, 132, 132));

}
#players player:hover{
/*   background: rgba(253, 0, 0, 1); */
}
player > * {
  position: relative;
  z-index: 1;
}
player img{
  vertical-align: middle;
  border-radius: 50px;
  padding: 2px;
  width: 80%;
}
player message{
  position: absolute;
  background: #FFF;
  padding: 5px;
  left: -16px;
}
#canvas{
  cursor: none;
  /* position: relative; */
  /* transform: scale(0.5); */
  /* border: 1px solid red; */
  overflow: auto;
  grid-row: 2;
  grid-column: 1;
}
#canvas, #canvas *{
  user-select: none;
  overflow: hidden;
  width: auto;
  height: auto;
}
#activity{
  background: #4c4c4c;
  width: 100vw;
  height: 120px;
  max-height: 240px;
  min-height: 70px;
  /* border-bottom: 1px solid #0F0; */
  /* border-top: 1px solid #0F0; */
  grid-column: 1 / span 2;
  display: grid;
  overflow: hidden;
  grid-template-rows: 8px 1fr 40px;
  align-content: end;
  grid-row: 3;
}
#activity #knob{
  cursor: ns-resize;
  position: sticky;
  z-index: 1;
  background:  #F00;
  top:  0;
}
#activity #messagebox{
  display: flex;
  flex-flow: row;
  margin: 5px;
}
#activity #messagebox input{
  flex-basis: 100%;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding: 0px 10px;
}
#activity #messagebox button{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  border: none;
  
}
#activity #messagebox button:hover{
  background: #8BC34A;
  color: #FFF;
}
#messages{
  display: flex;
  width: 100vw;
  height: auto;
  overflow: auto;
  /* grid-auto-rows: 12px; */
  /* align-content: end; */
  position: relative;
  /* max-height: 60px; */
  /* align-self: end; */
  flex-flow: column-reverse;
  user-select: none;
}
#messages message{
  display: block;
  /* border-right: 1px solid #F00; */
  padding: 0px 8px;
  white-space: nowrap;
  max-width: calc(100% - 20px);
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  min-height: 17px;
  justify-self: flex-end;
}
#messages message:before{
  content: attr(timestamp) " " attr(from) ": ";
}

#announce{
  position: absolute;
  width: 300px;
  height: 200px;
/*   background: #00F; */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
#announce-round{
  font-size: 50px;
}
#announce-round-text{
  animation: slam 1s ease-in 0s forwards;
  display: inline-block;
}
#announce-round-number{
  font-size: 80px;
  position: relative;
  z-index: 1;
  animation: slam 1s cubic-bezier(0.6, -0.28, 0.74, 0.05) 1s 1 normal forwards;
  transform: scale(6);
  opacity: 0;
  display: inline-block;
}
@keyframes slam{
  0% {
    transform: scale(6);
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  40% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.5);
  }
  85% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* 
<div id="announce">
  <div id="announce-round">
    <span id="announce-round-text">Round</span>
    <span id="announce-round-number">1</span>
  </div>
  <div id="announce-countdown">
    <span id="announce-countdown-text">starts in</span>
    <span id="announce-countdown-number">5</span>
  </div>
</div>
*/