<html>
<head>
<title>WeScribble</title>
<link rel="stylesheet" href="css/main.css"/>
<script src="scripts/jquery.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <h1>
      <span id="title"><em>We</em>Scribble</span>
      <span id="fps">
        <strong>Transmit FPS:</strong>
        <var id="tfps">0</var>
      <span>
    </h1>
    <div id="canvas">
      <canvas></canvas>
      <img src="images/pencil.png" draggable="false" id="pencil">
    </div> 
    
    <div id="players"></div>
    <div id="activity">
      <div id="knob"></div>
      <div id="messages"></div>
      <div id="messagebox">
        <input type="text"/>
        <button>Guess</button>
      </div>
    </div>

  </div>
</body>
<script src="scripts/utils.js"></script>
<script src="scripts/classes.js"></script>
<script src="scripts/main.js"></script>
</html>