<template id="announce-template">
  <div id="announce">
    <div id="announce-round">
      <span id="announce-round-text">Round</span>
      <span id="announce-round-number" data-value="1"></span>
    </div>
    <div id="announce-countdown">
      <span id="announce-countdown-text">starts in</span>
      <span id="announce-countdown-number" data-value="5"></span>
    </div>
  </div>
</template>
<template id="results-template">
  <div id="results">
    <table id="results-list">
      <thead>
        <tr>
          <th name="name">Player</th>
          <th name="guessed">Guessed</th>
          <th name="points">Points</th>
          <th name="notes"></th>
        </tr>
      </thead>
      <tfoot></tfoot>
      <tbody></tbody>
    </table>
  </div>
</template>
<template id="leaderboard">
  <form class="leaderboard">
    <time></time>
    <ul class="leaderboard-players"></ul>
  </form>
</template>
<div id="word"></div>
<div id="canvas">
  <canvas></canvas>
  <img src="/images/pencil.png" draggable="false" id="pencil">
</div> 
<div id="players"></div>
<div id="activity" draggable="false">
  <div id="knob"></div>
  <div id="messages" draggable="false"></div>
  <form id="messagebox">
    <input name="guess-text" type="text"/>
    <button name="guess-button">Guess</button>
 </form>
</div>

<div id="morpheus"></div>

